* {
    transition-duration: 1s;
}

GtkTextView {
    border-width: 0px;
    border-radius: 0px;
    border-style: solid;
    border-image-width: 0px;

    font: Bold 25px;
    color: #CCCCCC;
    background-color: #303030;
    background-image: none;
}

GtkWindow {
    background-color: #202020;
}

RadioButton {
    border-image: none;
    border-width: 0px;
    background-image: none;
}

GtkButton {
    border-image: none;
    border-width: 0px;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    color: white;
}

GtkButton:active {
    background-color: black;
}

GtkButton:hover {
    background-color: gray;
}
